name: app-group-c36
services:
  db:
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_USER=userc36
      - POSTGRES_DB=groupc36
    image: postgres:latest
    networks:
      - backend

  app:
    container_name: app
    image: poviraevsergei/spring-app:version9
    ports:
      - 8080:8080
    environment:
      - DB_HOST=db
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:
    driver: bridge

