<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body th:object="${user}">
<h1>User information</h1>
<li th:inline="text">ID: [[*{id}]]</li>
<li th:inline="text">Username: [[*{username}]]</li>
<li th:inline="text">Age: [[*{age}]]</li>
<li th:inline="text">Created: [[*{created}]]</li>
<li th:inline="text">Changed: [[*{changed}]]</li>
<h1>------------------</h1>
</body>
</html>